.book-appointment-button {
    font-size: 19px;
    padding: 3px 20px;
    background-color: #ddffd1;
    color: #008589;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}


.book-appointment-container {
    background-color: #ddffd1;
}